<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>{% block title %} Thunderhelm's Studio {% endblock %}</title>
    </head>
    <body>
        <main>
            <div id="info-block">
                <div id="icon">{% block icon %} {% endblock %}</div>
                <h1>{% block header %} {% endblock %}</h1>
                <h2>{% block subheader %} {% endblock %}</h2>
                <div id="details">{% block details %} {% endblock %}</div>            
            </div>
            <div id="showcase-block">
                {% block showcase %} {% endblock %}
            </div>
        </main>
    </body>
</html>
